.App {
  text-align: center;
}

/* .menu-bar { 
  justify-content: center
} */
/* .menu-icon {
  align-content: center;

} */

.dashboard {
  background-color: #babdc1,
}

.need-pad {
  padding-top: 10px;
}